.section-flex {
    background-color: rgb(231, 51, 43);
    display: flex;
    justify-content: space-between;
    padding-left: 4vw;
    height: 130vh;
    color: white;
}

.section-flex-left {
    width: 40%;
    padding-top: 20px;
}

.section-left-img {
    width: 90%;
    display: flex;
    justify-content: right;
}

.section-left-img img {
    width: 23%;
}

.section-left-p1 {

    font-size: 22px;
    text-align: left;
    opacity: 0.9;
    margin: 0px;
}

.section-left-p2 {

    font-size: 40px;
    line-height: 3.5rem;
    font-weight: 650;
    width: 85%;
    text-align: left;
    margin: 0px;
}

.section-left-p3 {

    font-size: 22px;
    line-height: 1.9rem;
    text-align: left;
    opacity: 0.9;
    width: 75%;

}

.section-mini-flex {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: auto auto;
    gap: 1.5em;
    padding-top: 4vh;
}

.sec-mini {
    width: 15vw;
    border: 2px solid white;
    border-radius: 70px;
    display: flex;

}

.sec-mini img {
    padding-left: 10px;
}

.sec-mini-font {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.9rem;
    text-align: left;
    opacity: 0.9;
}

.section-dot-img {
    display: flex;
    justify-content: left;

}

.section-flex-right {
    width: 60%;
}

.section-flex-right img {
    width: 90%;
    height: 60%;
    padding-top: 5vh;
}